{
    "swagger": "2.0",
    "info": {
        "version": "1.0.1",
        "title": "Swagger MovieApp",
        "description": "API de l’application mobile MovieApp",
        "termsOfService": "http://swagger.io/terms/",
        "contact": {
            "name": "MovieApp API Team",
            "email": "contact@movieapp.fr"
        },
        "license": {
            "name": "Apache 2.0",
            "url": "https://www.apache.org/licenses/LICENSE-2.0.html"
        }
    },
    "host": "api.movieapp.fr",
    "basePath": "/docs",
    "schemes": [
        "http"
    ],
    "consumes": [
        "application/json"
    ],
    "produces": [
        "application/json"
    ],
    "components": {
        "schemas": {
            "auth": {
                "properties": {
                    "success": {
                        "type": "boolean"
                    },
                    "message": {
                        "type": "string"
                    },
                    "data": {
                        "type": "string"
                    }
                }
            },
            "verify": {
                "properties": {
                    "success": {
                        "type": "boolean"
                    },
                    "message": {
                        "type": "string"
                    },
                    "data": {
                        "type": "string"
                    }
                }
            }
        }
    },
    "paths": {
        "/auth": {
            "post": {
                "tags": [
                    "Auth"
                ],
                "summary": "Authentifie un utilisateur",
                "requestBody": {
                    "description": "Authentifie un utilisateur et lui retourne un token",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/auth"
                            }
                        }
                    }
                },
                "produces": [
                    "application/json"
                ],
                "responses": {
                    "201": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/components/schemas/auth"
                        }
                    },
                    "401": {
                        "description": "Accès interdit"
                    }
                }
            }
        },
        "/verify": {
            "post": {
                "tags": [
                    "Auth"
                ],
                "parameters": [
                    {
                      "name": "auth_step",
                      "in": "path",
                      "required": true,
                      "description": "Étape de l’authentification",
                      "type": "string"
                    }
                ],
                "summary": "Valide les données d'un utilisateur",
                "requestBody": {
                    "description": "",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/auth"
                            }
                        }
                    }
                },
                "produces": [
                    "application/json"
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/components/schemas/verify"
                        }
                    },
                    "404": {
                        "description": "Données incorrectes"
                    }
                }
            }
        }
    }
}