<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MovieApp</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">
</head>

<body>

    <h3>Welcome to MovieApp</h3>

    <table style="width:100%">
        <tr>
            <th>Verb</th>
            <th>Path</th>
            <th>Details</th>
        </tr>
        <tr>
            <td>POST</td>
            <td>/auth</td>
            <td>Allows the user to authenticate</td>
        </tr>
        <tr>
            <td>GET</td>
            <td>/users/</td>
            <td>Get all users</td>
        </tr>
        <tr>
            <td>GET</td>
            <td>/users/:tag</td>
            <td>Get a specific user</td>
        </tr>
        <tr>
            <td>POST</td>
            <td>/users/</td>
            <td>Allows the user to register</td>
        </tr>
    </table>
</body>

<style>
    * {
        font-family: 'Poppins', sans-serif;
    }

    h3 {
        text-align: center;
    }

    table,
    th,
    td {
        border: 1px solid black;
        border-collapse: collapse;
        text-align: center;
    }

    th,
    td {
        padding: 15px;
    }
</style>

</html>